<html>

<head>
    <title>Conference Pro</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Raleway:ital,wght@0,400;0,500;0,600;1,400&family=Roboto&display=swap"
        rel="stylesheet">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script>
        const room_id = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/assets/script.js" defer></script>
</head>

<body>
    <div id="room">
        <%-include('partials/nav')-%>
        <div id="roomContainer" class="container"><input id="idurl" />
            <div id="video-grid"></div>
            <div id="screen-share">
                <div id="sharer"></div>
            </div>
        </div>
        <div id="sidenav">
            <div class="header">
                <p class="text-center m-0 p-0">Live chat</p>
            </div><div id="messageArea"></div>
            <input class="form-control" placeholder="Type your message and hit enter..." id="message" />
        </div>
        <div id="footer">
            <div class="container pt-3 pb-5">
                <div class="foot">
                    <button title="Unmute Audio" id="muteoff" class="mute">
                        <i style="color:black;font-size: 20px;" class="bi bi-mic"></i>
                    </button>
                    <button title="Mute Audio" id="mute" class="mute inverse">
                        <i class="bi bi-mic-mute"></i>
                    </button>
                    <button title="Show Video" id="video" class="mute">
                        <i class="bi bi-camera-video"></i>
                    </button>
                    <button title="Hide Video" id="videooff" class="mute inverse">
                        <i class="bi bi-camera-video-off"></i>
                    </button>
                    <button disabled id="share" title="Share Screen" class="mute">
                        <i class="bi bi-arrow-up-square"></i>
                    </button>
                    <button id="stop-share" title="Stop Screen Share" class="mute">
                        <i class="bi bi-x"></i>
                    </button>
                    <button id="chat" title="Chat with Users" style="background: none;" class="mute">
                        <i class="bi bi-chat-right-dots"></i>
                    </button>
                    <button id="copy" title="Copy Room Link" class="mute" title="Copy room ID">
                        <i class="bi bi-person-plus"></i>
                    </button>
                    <button id="hangup" title="Hangup Call" class="mute">
                        <i style="color: rgb(190, 13, 13)" class="bi bi-telephone-x-fill"></i>
                    </button>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>

</html>