<html>

<head>
    <title>Conference Pro</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Raleway:ital,wght@0,400;0,500;0,600;1,400&family=Roboto&display=swap"
        rel="stylesheet">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script>
        const room_id = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/assets/script.js" defer></script>
    <style>
        .a {
            border-radius: 25px;
            padding: 12px;
            min-width: 200px;
            display: block;
            margin-bottom: 10px;
        }

        .start-btn {
            background-color: rgb(96, 65, 209);
            color: white !important;
        }

        .join-btn {
            background-color: rgb(236, 234, 240);
            color: #333333 !important;
        }

        .header {
            background-color: rgb(235, 235, 235);
            margin-top: 55px;
            padding: 10px;
        }

        a:hover {
            color: white;
        }

        #video-grid {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        #video-grid video {
            border-radius: 4px;
            /* height: 300px; */
            object-fit: cover;
            margin: 0;
            width: 400px;
        }

        #message {
            bottom: 0;
            font-size: 14px;
            left: 0;
            position: absolute;
        }

        #messageArea {
            height: 85%;
            overflow-y: scroll;
            padding: 15px;
            padding-bottom: 10px;
            scroll-behavior: smooth;
        }
        .chat {
            margin: 15px 0;
            font-size: 14px;
        }
        .me {
            background-color: rgb(66, 30, 199);
            border-radius: 5px 0px 0px 5px;
            color: white;
            margin-left: auto !important;
            text-align: right;
            max-width: 150px;
            padding: 10px;
            width: auto;
        }
        .notme {
            background-color: rgb(236, 234, 240);
            border-radius: 0px 5px 5px 0px;
            color: #333333;
            margin-right: auto;
            text-align: left;
            max-width: 150px;
            padding: 10px;
            width: auto;
        }
    </style>
</head>

<body>
    <div id="room" style="background: rgb(0, 0, 0);">
        <%-include('partials/nav')-%>
        <div id="roomContainer" style="padding-bottom: 80px;" class="container"><input id="idurl" style="display: block; margin-top: -30px;" />
            <div id="video-grid">
                <!-- <div class="video">
                    <video controls src="/assets/Shaun-the-Sheep-The-Movie-Official-Trailer.mp4" type="video/mp4" autoplay/>
                </div>-->
            </div>
        </div>
        <div id="sidenav">
            <div class="header">
                <p class="text-center m-0 p-0">Live chat</p>
            </div><div id="messageArea"></div>
            <input class="form-control" placeholder="Type your message and hit enter..." id="message" />
        </div>
        <div class="footer">
            <div class="container pt-3 pb-5">
                <div class="foot">
                    <button id="muteoff" class="mute">
                        <i style="color:black;font-size: 20px;" class="bi bi-mic"></i>
                    </button>
                    <button id="mute" class="mute inverse">
                        <i class="bi bi-mic-mute"></i>
                    </button>
                    <button id="video" class="mute">
                        <i class="bi bi-camera-video"></i>
                    </button>
                    <button id="videooff" class="mute inverse">
                        <i class="bi bi-camera-video-off"></i>
                    </button>
                    <button id="chat" style="background: none;" class="mute">
                        <i class="bi bi-chat-right-dots"></i>
                    </button>
                    <button id="copy" class="mute" title="Copy room ID">
                        <i class="bi bi-person-plus"></i>
                    </button>
                    <button id="hangup" class="mute">
                        <i style="color: rgb(190, 13, 13)" class="bi bi-telephone-x-fill"></i>
                    </button>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>

</html>